body{
  display:flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: stretch;
  background-color: #333333;
  color:white;
}

#playlistContainer{
  margin-right: 90px;
  min-size:
}
ul{
  padding: 1px;
}
#playlist li{
   cursor:pointer;
   list-style-type: none;
   padding:8px;
   border-bottom: 1px solid white;
}

#playlist li[active]{
  background-color:orange;
  color:white;
}

#playlist li:hover{
    /* color:blue; */
    background-color:grey;
}
#videoContainer{
  flex: 1 0 80%; 
}
#videoarea {
    #margin:10px;    
    #border:1px solid silver;
}
