body{
  display:flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: stretch;
}

#playlistContainer{
  flex-grow:1;
}
ul{
  padding: 1px;
}
#playlist li{
   cursor:pointer;
   list-style-type: none;
   padding:8px;
}

#playlist li[active]{
  background-color:orange;
  color:white;
}

#playlist li:hover{
    /* color:blue; */
    background-color:grey;
}
#videoContainer{
  flex-grow: 8;  
}
#videoarea {
    #margin:10px;    
    #border:1px solid silver;
}
